{% extends 'base.html.twig' %}

{% block title %}Parcourez mes supers articles!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for article in articles %}
                {% set url = path( 'articles_show', {'slug': article.slug } ) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            <strong>{{ article.title }}</strong>
                            <br>
                        </div>
                        <div class="card-body">
                            <a href="{{ url }}" class="btn btn-secondary">
                                <img src="{{ article.coverImage }}" alt="Image de l'article" style="height: 200px; width: 100%; display: block">
                            </a>
                            <p class="card-text">
                                {{ article.excerpt }}
                            </p>
                            <div class="text-center">
                                <a href="{{ url }}" class="btn btn-secondary">Lire la suite</a>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
